@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');
/*몬세라트 폰트 - 구글의 폰트 사용하기*/

/*몬세라트 폰트 적용하기*/
* { /* 별 의미 : 이 문서 전체에 적용한다 라는뜻. 즉, 몬세라트 폰트를 이 문서 전체에 적용한다. */
    font-family: 'Montserrat';
}

.main-box{
    width: 700px;
    padding: 20px;
    border: 1px solid black; /*박스 태두리(경계) 그리기 => border: 두께 방식 색깔 */
    margin: 30px;
    margin-left: auto; /*박스 중앙정렬 하기 => margin-left: auto; margin-right: auto; */
    margin-right: auto;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.9); 
     /*박스의 그림자 설정*/
    /*인자들 의미 => 인자1) 가로축으로 그림자가 얼마나 뻗어나갈지 - 양수면 오른쪽으로, 음수면 왼쪽으로 뻗어나가고, 0이면 안뻗어나감
     인자2) Y축으로 그림자 이동하는 것.
     인자3) 그림자의 흐림정도(블록값) => 앵? 해보니깐 이게 그림자 퍼짐도 같은데
     인자4) 그림자의 퍼짐도(Spread)
     인자5) 색깔 표현 (red,greean,blue) 0~255사이의 값을 가짐. + 투명도(0~1사이의 값 => 0.4인 경우 40%의 투명도)*/
}

.about-me-text{
    font-size: 10px;
    line-height: 30px; /*line-height : 각 줄 사이의 간격을 설정*/
}

.flow{
    text-align: right; /*텍스트 정렬 위치 : 우측정렬*/
    margin-right: 20px;
    margin-top: 30px;
}

h1{
    font-size: 40px;
    font-weight: bold; /*font-weight: 폰트의 두깨 지정 (=> 3가지: light, bold, normal)*/
    font-style: italic; /*font-style : 폰트 스타일 지정. italic => 글씨를 기울임 */
    margin-bottom: 8px;
}

.sub-big-title{
    font-size:20px;
    font-weight: bold;
    color: #7c7c7c;
}


h2{
    font-size: 20px;
    font-weight: lighter;
    color: #282828;
    border-bottom: 1px solid #2b2b2b; /*border(경계선) 아래에만 선 생성 가능*/
    margin-bottom: 16px; 
    padding-bottom: 5px; 
}

/*float : 같은 줄에 텍스트를 적게해줌. 같은 줄에 텍스트를 적지 못하던 text-align 의 한계를 극복*/
/*왼쪽에 둥둥 떠다니는 텍스트를 생성*/

.small-title{
    float: left;
    font-weight: bold;
    font-size: 12px;
}

.year-title{
    float: right;
    font-weight: bold;
    font-size: 12px;

}

.float-binding{
    overflow: hidden; /* overflow: hidden => 둥둥 떠다니는 float 요소들에게 다른 html 요소들이 영향을 받지 않도록 한다. */ 
}

.contents1{
    font-size: 10px;
    color:#282828;
    padding-left: 5px;
}

.contents2{
    font-size: 10px;
    color: #282828;
    padding-left: 10px;
}

.img{
    width: 20px;
    height: 20px;
}

.img-move{
    text-align: right; /* 이미지도 정렬시에 text-aling 을 사용하면 된다! */
}

footer{
    background-color: #919191;
    color: white;
    font-size: 1px;
    padding: 10px; /*padding : 텍스트와 border(태두리) 사이의 여백 크기*/
    text-align: center; /*텍스트 정렬 위치 : 중앙정렬*/
    margin: 20px; /*margin : 박스 바깥영역 여백 크기*/
}

